body {
  margin: 0;
}

.container:{
  margin: auto;
  width: 980px;
  display: block;
  padding: 0;
}

.lista {
  padding: 0;
  margin: auto;
  display: block;
}

.lista li{
  display: inline-block;
}

button{
  padding: 20px;
  background-color: blue;
  color: white;
  margin: auto;
  display:block;
}

.kep{
  margin: auto;
  display: block;
  float: left;
}
.ujlista{
  display: inline-block;
  margin:2px;
}

.ujul{
  margin: auto;
  width: 724px;
  padding: 0;
}
